# macOS files
.DS_Store

# Node modules (if using Node.js in frontend or backend)
node_modules/

# Python
pycache/ *.pyc

#Logs
*.Log

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python venv created for this project
cpsenv/