# macOS files
.DS_Store

# Node modules (if using Node.js)
node_modules/

# Python
pycache/ *.pyc
__pycache__/

#Logs
*.Log

# Environments
.env
.env_local
.env_cdw
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python venv created for this project
cpsenv/