-------------------------------------------------------------------------------
Requirements Analysis
-------------------------------------------------------------------------------

Input Formats:

1. Data Source (CDW)
    - Plan is to transition from VistA systems to CDW for pulling source data
    - To my knowledge, the proper CDW database server is:
        - vhacdwdwhsql33.vha.med.va.gov/
    - To my knowledge, the applicable database within this server is:
        - CDWWork
    - The CDWWork data is available via:
        - Views

2. ADM - Admissions Extract
    - The ADM extract contains all admission records from the PATIENT MOVEMENT file (#405)
        - where the date of the admission falls within the extract date range
        - current M extract prompts for start and end dates for patient movement file
    - The mail group for this extract is DSS-ADMS
        - Purpose: receive messages when extract is complete and when data is transmitted to AITC
    - VistA file --> CDW view crosswalk
        - PATIENT MOVEMENT (#405) --> CDWWork.Inpat.PatientTransfer
                                  --> CDWWork.Impat.ProvisionalMovement
                                  --> CDWWork.Inpat.SpecialtyTransfer
                                  --> CDWWork.Inpat.SpecialtyTransferDiagnosis
                                  --> CDWWork.Inpat.Lodger
    - Flowchart
        - admflowchart.png
    - Selection Criteria
        - The ADM extract will contain only those records that meet the following criteria:
            - The record has an "ATT1" cross reference
            - Function $$PAT^ECXUTL3 returns demographic data for patient, indicating valid record number and SSN
            - The Movement Number matches the cross reference IEN of the record
            - There is an Encounter Number returned by function $$ENCNUM^ECXUTL4
    - ADM extract primary files
        - Input: PATIENT MOVEMENT file (#405)
        - Output: Admissions Extract file (#727.802)
    - ADM primary logic
        - Refer to DSS IMKM FY25 online document
    - ADM Extract functions called
        - Refer to DSS IMKM FY25 online document
    - ADM Extract Data Dictionary (File #727.802)
        - Refer to DSS IMKM FY25 online document
    - ADM Extract Reports
        - Audit
            - Refer to DSS IMKM FY25 online document
